.bg {
    animation:slide 7s ease-in-out 1 normal;
    background-image: linear-gradient(-90deg, #2730FF 50%, #2730FF 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
    transform:translate( 100%);
  }

  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:5s;
  }

  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(-100%);
    }
  }