/** @format */

@keyframes custom-slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

#custom-spin {
  animation: custom-slide 15s linear infinite;
}
